/* *************************************************** *
Global Stylesheet with overall site settings
*************************************************** */

// Import global variables
@import '_variables.scss';

// Global Site Settings
body {
  margin: 0;
  padding: 0;
  background-color: #FBF8EF;
  margin: 0 auto;
  width: 86%;

  @media screen and (max-width: $bp-large) {
    width: 90%;
  }
}
